<app-filters></app-filters>

<div class="row col-lg-7 col-lg-offset-1">
    <app-search></app-search>

  <p></p>
    <div class="panel-group">
      <div class="panel panel-default" *ngFor="let res of result">
          <a class="thumbnail col-lg-4">
            <img [src]="res['img_url']" class="img-rounded">
          </a>
          <div class="description col-lg-6 col-lg-offset-1">
            <p>{{res['title']}}</p>
            <p>bathroom number : {{res['bathroom_number']}}</p>
            <p>For {{res['listing_type']}}</p>
            <p>Price {{res['price_formatted']}}</p>
            <p>Type {{res['property_type']}}</p>
         </div>
        <button class="btn btn-default col-lg-1" (click)="saveFavourite(res)">
          <span class="glyphicon glyphicon-star"></span>
        </button>
      </div>
    </div>
</div>


