<div class="property">
  <div class="container">
    <div class="jumbotron">
      <app-filters></app-filters>
      <div class="properties">
        <div class="property" *ngFor="let res of result">
          <img [src]="res['img_url']">
          <div class="description">
            <p>bathroom number : {{res['bathroom_number']}}</p>
            <p>For {{res['listing_type']}}</p>
            <p>Price: from {{res['price_min ']}} to {{res['price_max ']}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
