<div class="row col-lg-2 col-md-2 col-lg-offset-1">
  <div class="input-group" aria-label="">
    <input class="btn btn-primary" type="submit" value="To Rent">
    <input class="btn btn-default" type="submit" value="To Sale">
  </div>

  <div class="form-group">
    <label for="sort-by">Sort</label>
    <select class="form-control" id="sort-by">
      <option>Nestoria Rank</option>
      <option>Price(low to high)</option>
      <option>Price(high to low)</option>
      <option>Beds(fewer first)</option>
      <option>Beds(more first)</option>
      <option>Date(older first)</option>
      <option>Date(newer first)</option>
    </select>
  </div>

  <label for="beds">Beds</label>
  <div id="beds" class="input-group">
    <input class="btn btn-default" type="submit" value="Studio">
    <input class="btn btn-default" type="submit" value="1">
    <input class="btn btn-default" type="submit" value="2">
    <input class="btn btn-default" type="submit" value="3">
    <input class="btn btn-default" type="submit" value="4+">
  </div>

  <label for="propetry-type">Property type</label>
  <div id="propetry-type" class="input-group">
    <input class="btn btn-default" type="submit" value="All">
    <input class="btn btn-default" type="submit" value="Flat">
    <input class="btn btn-default" type="submit" value="House">
  </div>

  <label for="bathrooms">Bathrooms</label>
  <div id="bathrooms" class="input-group">
    <input class="btn btn-default" type="submit" value="1">
    <input class="btn btn-default" type="submit" value="2">
    <input class="btn btn-default" type="submit" value="3">
    <input class="btn btn-default" type="submit" value="4+">
  </div>

</div>


