<div class="jumbotron">
  <div class="container">
    <p>Use the form below to search for houses to buy.
      You can search by place-name, postcode, or click 'My location',
      to search in your current location!</p>
  </div>
</div>

<form class="form-search">
  <label for="inputCity" class="sr-only">Enter location</label>
  <input #city (keyup)="onKey(city.value)" id="inputCity" class="form-control" placeholder="Enter city">
  <button class="btn btn-primary" type="submit">Go</button>
  <button class="btn btn-primary" type="submit">My location</button>
</form>


<div class="recent-searches">
  <div class="container">
    <div class="jumbotron">
      <div class="list-group">
        <a href="#" class="list-group-item active">
          Recent searches:
        </a>
        <div *ngFor="let foundCity of foundCities">
          <a (click)="sendSelectedCity(foundCity)" class="list-group-item" >{{foundCity}}</a>
        </div>
      </div>
    </div>
  </div>
</div>




