<div class="row">
  <div class="panel panel-default col-lg-6 col-lg-offset-3">
    <div class="panel-heading">
      <div class="panel-title">Property Cross</div>
    </div>
    <div class="panel-body">
      <p class="lead">Use the form below to search for houses to buy.
        You can search by place-name, postcode, or click 'My location',
        to search in your current location!</p>

      <app-search></app-search>

        <ul class="list-group col-lg-10 col-lg-offset-1">
          <li class="list-group-item list-group-item-action">Latest search:</li>
            <a class="list-group-item" *ngFor="let search of latestSearches.reverse()"
               routerLink="/property">{{search['city_name']}}
            </a>
        </ul>
    </div>
  </div>
</div>

